{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ path('backend_dashboard') }}">Backoffice</a>

        </div>
    </div>
{% endblock %}

