<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6 col-ss-12 padbot30">
	<h4>Catégorie</h4>
	<ul class="foot_menu">
		{% for menu in menus|slice(0,6) %}
			<li><a href="{{ absolute_url(path('frontend_domaine_show', {'slug': menu.slug})) }}" >{{ menu.libelle}}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6 col-ss-12 padbot30">
	<h4>Catégorie</h4>
	<ul class="foot_menu">
		{% for menu in menus|slice(6,12) %}
			<li><a href="{{ absolute_url(path('frontend_domaine_show', {'slug': menu.slug})) }}" >{{ menu.libelle}}</a></li>
		{% endfor %}
	</ul>
</div>
